language: node_js
sudo: required
dist: trusty
node_js:
  - "stable"
addons:
  apt:
    sources:
      - google-chrome
      - mongodb-3.0-precise
    packages:
      - google-chrome-stable
      - mongodb-org-server
before_install:  
 - "export DISPLAY=:99.0"
 - "sh -e /etc/init.d/xvfb start"
before_script:
  - npm install -g bower grunt-cli
  - gem install sass
  - bower install
  - sleep 15
services:
  - mongodb