language: node_js
sudo: required
dist: trusty
node_js:
  - "stable"
addons:
  mongodb: 3.2
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
before_install:  
 - "export DISPLAY=:99.0"
 - "sh -e /etc/init.d/xvfb start"
before_script:
  - npm install -g bower grunt-cli
  - gem install sass
  - bower install
  - sleep 15