language: node_js
sudo: required
dist: trusty
node_js:
  - '5.11.0'
before_install:  
 - export CHROME_BIN=/usr/bin/google-chrome
 - export DISPLAY=:99.0 
 - sh -e /etc/init.d/xvfb start
 - sudo apt-get update
 - sudo apt-get install -y libappindicator1 fonts-liberation
 - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
 - sudo dpkg -i --force-depends google-chrome*.deb
 - sudo apt-get install -f 
before_script:
  - npm install -g bower grunt-cli
  - gem install sass
  - bower install
services: mongodb
