.sequencia-tipo-combinacao-map {
	$sequencia-tipo-combinacao-map-width: 64px;
	background: url('/assets/images/help-seq.png');
	width: $sequencia-tipo-combinacao-map-width;
	height: 64px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid $background-color-header;
	border-radius: 50%;

	&.pio {
		background-position: 0 0px;
	}

	&.duque {
		background-position: ($sequencia-tipo-combinacao-map-width * -1) 0;
	}

	&.terno {
		background-position: ($sequencia-tipo-combinacao-map-width * -2) 0;
	}

	&.quadra {
		background-position: ($sequencia-tipo-combinacao-map-width * -3) 0;
	}

	&.quina {
		background-position: ($sequencia-tipo-combinacao-map-width * -4) 0;
	}
}

ol {
	&.lista-tipo-combinacao {
		max-width: 775px;
		margin-left: auto;
		margin-right: auto;
		li {
			list-style-type: none;
			min-width: 150px;
			margin: 10px 0 10px 0;
			padding: 10px;
			span {
				p {
					margin: 0;
				}
				text-align: center;
			}
		}
	}
}